.Navigatie{
  text-align: center;
}
.A{
  width: 20%;
  height: 20%;
  background-color: green;
  border-width: 3px solid darkred;
  margin-left: 40%;
  margin-right: 40%;
  padding-left: 25px;
  text-align: center;
}
.Footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: orange;
  color: black;
  text-align: center;
}
.float {
  z-index: -2;
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: 0;
  padding: 1px;
}
