body {
 background-image: url("https://ak7.picdn.net/shutterstock/videos/7143097/thumb/1.jpg?i10c=img.resize(height:160).jpg");
 background-repeat: no-repeat;
 background-size: auto;
 background-size: cover;
}
