/*stijlen voor radiogaga */
html{
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  overflow: auto;
}
body{
  width: 96%;
  margin: 0px auto 5% auto;
  border: 1px solid;
  overflow: inherit;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: normal;
}
h3{
  margin: 0px;
}

nav, #logo, main, footer {
  margin: 10px 0px;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}
