/*stijlen voor radiogaga */
html{
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  overflow: auto;
}
body{
  width: 96%;
  margin: 0px auto 5% auto;
  border: 1px solid;
  overflow: inherit;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: normal;
}
main{
  width: 100%;
  margin: 0;
  padding-bottom: 3%;
}
#disc{
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  margin-top: 10;
  background-image: -moz radial-gradient(
    45px 45px 45deg, circle cover, grey 0%, black 100%, black 95%
    );
  background-image: -webkit-radical-gradiant(
    45px 45px, circle cover, grey, black
    );
  background-image: radial-gradient(
    45px 45px 45deg, circle cover, grey 0%, black 100%, black 95%
    );
}
h3{
  margin: 0px;
}
a{
  text-decoration: none;
}
nav{
  width: 100%;
}
nav ul{
  text-align: center;
  margin: 0 0 0 0;
  padding-left: 0;
}
nav ul li{
  list-style-type: none;
  width: 25%;
  background: linear-gradient(#9FB3B5,#E3E9EA,#7C9799);
  font-size: 1.7rem;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
nav ul li a:hover
nav ul li a:focus
{
  color: firebrick;
}
#logo{
  margin-top: 15px;
  padding-top: 10%;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
}
